{{#if userBlogs.length}}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            {{#each userBlogs as |userBlog|}}
            <div class="post-preview">
                <a href=`/api/blog/{{userBlog.id}}`>
                    <h2 class="post-title">{{userBlog.post_title}}</h2>
                </a>
                <p class="post-meta">Posted by&nbsp;<a href="#">{{userBlog.user.name}} on {{userBlog.date_id}}</a></p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{else}}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-l-8">
            <div class="post-preview">
                <h2 class="post-title">No posts yet. <span href="/api/blog/post">Create your first post!</span></h2>
            </div>
        </div>
    </div>
</div>
{{/if}} 