<header class="masthead" style="background-image: url('../public/images/marvin-meyer-SYTO3xs06fU-unsplash_adobe_express.svg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1 style="font-size: 56px;">The Do Your Research blog</h1><span class="subheading">An open blog-spot for all things tech.</span>
                </div>
            </div>
        </div>
    </div>
</header>


{{#if fiveBlogs.length}}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            {{#each fiveBlogs as |blog|}}
            <div class="post-preview">
                    <a href=`/api/blog/{{blog.id}}`>
                        <h2 class="post-title">{{blog.post_title}}</h2>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">{{blog.user.name}} on {{blog.date_id}}</a></p>
                </div>
            {{/each}}

        </div>
    </div>
</div>
{{else}}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-l-8">
            <div class="post-preview">
                <h2 class="post-title">No posts yet. <span href="/api/blog/post">Create your first post!</span></h2>
            </div>
        </div>
    </div>
</div>
{{/if}}